<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>

<h1>Greetings Future Super Striker!</h1>
<h2>Ready to fight!!?!?!?!?!?!</h2>

<button type="button" class="btn btn-success btn-lg" routerLink="/participantInfo">YES, of course!</button>

<div class="text-right">
<button type="button" class="btn btn-success btn-sm" routerLink="/notReady">NO, please no!</button>
</div>

<router-outlet></router-outlet>

</body>

</html>

